// Place all the styles related to the Map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #C1B0A9;
  font-family: Sans-serif;
}
 h1#tagline{ font-size:16pt;}
 h1 #locality{font-size:20pt;}
.top {padding:5px;}
.input input{
  height:25px;
  font-size:12pt;
}
.input input#neighborhood{
  width: 250px;
}