<div class="top">
    <h1 id="tagline">HOW MUCH <span id="locality">BROOKLYN</span> CAN YOU BUY?</h1>
    <!-- form processing is done in the map.js file -->
    <div class="input">
        <label for="neighborhood">where</label> <input type="text" id="neighborhood" />
        <label for="amount">how much</label> <input type="text" id="amount" value="2000000"/>
          <input type="button" id="submit" value="find"/>
          <span class="meta">
                <span id="sqft"></span>
                <span id="beds">

                </span>
                <span id="baths"></span>
          </span>
    </div>


</div>

<div id="map-canvas"/>


